body {
    background-color:#CCD1D1 ;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
   } 
h1{
    text-align: center;

}



.form1 {
    border: 2px solid rgb(247, 15, 15) ;
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}

.label1{
    margin-top: 30px;

}
.botoncalcular{
margin-top: 100xp;

}

.form2 {
    border: 2px solid rgb(247, 15, 15) ;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
}